{
  "openapi": "3.0.0",
  "info": {
    "title": "Documentation API SIMEN",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://codeco.education.sn/ien-get"
    },
    {
      "url": "https://codeco.education.sn/api-ien"
    },
    {
      "url": "https://codeco.education.sn"
    }
  ],
  "paths": {
    "/region": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "Liste des régions",
        "responses": {
          "200": {
            "description": "Retourne la liste des régions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/department": {
      "get": {
        "tags": [
          "Departements"
        ],
        "summary": "Liste des départements",
        "responses": {
          "200": {
            "description": "Retourne la liste des départements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/district": {
      "get": {
        "tags": [
          "Arrondissements"
        ],
        "summary": "Liste des arrondissements",
        "responses": {
          "200": {
            "description": "Retourne la liste des arrondissements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/town": {
      "get": {
        "tags": [
          "Communes"
        ],
        "summary": "Liste des communes",
        "responses": {
          "200": {
            "description": "Retourne la liste des communes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ia": {
      "get": {
        "tags": [
          "IA"
        ],
        "summary": "Liste des IA",
        "responses": {
          "200": {
            "description": "Retourne la liste des IA",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ief": {
      "get": {
        "tags": [
          "IEF"
        ],
        "summary": "Liste des IEF",
        "responses": {
          "200": {
            "description": "Retourne la liste des IEF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/area": {
      "get": {
        "tags": [
          "Communes"
        ],
        "summary": "Liste des communes avec code de IEF",
        "responses": {
          "200": {
            "description": "Retourne la liste des communes avec code de IEF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ia_code_admin": {
      "get": {
        "tags": [
          "IA"
        ],
        "summary": "Liste IA avec code admin",
        "responses": {
          "200": {
            "description": "Retourne la liste des IA avec code admin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/list_etab_by_com/{code_com}": {
      "get": {
        "tags": [
          "Etab - par code Commune"
        ],
        "summary": "Liste des etablissements d'une commune",
        "parameters": [
          {
            "name": "code_com",
            "in": "path",
            "required": true,
            "description": "Code de commune",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retourne la liste des etablissements d'une commune",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/list_etab_by_ia_ief/{code_ia_ief}": {
      "get": {
        "tags": [
          "Etab - par code IA ou IEF"
        ],
        "summary": "Liste des etablissements d'une IA ou IEF",
        "parameters": [
          {
            "name": "code_ia_ief",
            "in": "path",
            "required": true,
            "description": "Code IA ou IEF",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retourne la liste des etablissements d'une IA ou IEF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}